﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from geetanjalirealestate.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Oct 2018 14:38:01 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Geetanjali Real Estate | Home</title>

    <!-- <link rel="icon" type="image/png" href="~/imaes/f.png"> -->
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/plugins/select_option1.css">
    <link rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/plugins/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/css/plugins/fullcalendar.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,400italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/plugins/animate.css">
    <link rel="stylesheet" href="~/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/animate.html">
    <link rel="stylesheet" href="~/css/colors/default.css" id="option_color">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        p {
            text-align: justify;
        }

        .fond {
            position: absolute;
            padding-top: 85px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #00506b;
        }


        p {
            text-align: justify;
        }
    </style>
</head>
<body>

    <div class="main_wrapper">

        <div class="topbar clearfix">
            <div class="container">
                <ul class="topbar-left">
                    <li class="phoneNo"><i class="fa fa-phone"></i>9823205506 / 9326242771</li>
                    <li class="email-id hidden-xs hidden-sm">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:geetanjali.agency@gmail.com">geetanjali.agency@gmail.com</a>
                    </li>
                </ul>
                <ul class="topbar-right">
                    <li class="hidden-xs"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="hidden-xs"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="hidden-xs"><a href="#"><i class="fa fa-google-plus"></i></a></li>

                </ul>
            </div>
        </div>

        <div class="header clearfix">
            <nav class="navbar navbar-main navbar-default">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="header_inner">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand logo clearfix" href="index-2.html"><img src="~/imaes/logo.jpg" alt="" class="img-responsive" /></a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->

                                <div class="collapse navbar-collapse" id="main-nav">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a href="index-2.html">Home</a></li>
                                        <li><a href="about-us.html">About Us</a></li>

                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                                            <ul class="dropdown-menu">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">On Rent</a>
                    <ul class="dropdown-menu">
                        <li><a href="rent-flats.html">Flats</a></li>
                        <li><a href="rent-row-houses.html">Row Houses</a></li>
                        <li><a href="rent-offices.html">Offices</a></li>
                        <li><a href="rent-shops.html">Shops</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">On Sale</a>
                    <ul class="dropdown-menu">
                        <li><a href="sale-bungalows.html">Bungalows</a></li>
                        <li><a href="sale-row-houses.html">Row Houses</a></li>
                        <li><a href="sale-flats.html">Flats</a></li>
                        <li><a href="sale-shops.html">Shops</a></li>
                        <li><a href="sale-plots.html">Plots</a></li>
                    </ul>
                </li>
            </ul>
                                        </li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                        <li><a href="contacr-us.html">Contact Us</a></li>
                                        <li><a href="contacr-us.html">Login</a></ li>
                                        @Html.ActionLink("Login", "Home")

                                    </ul>
                                </div><!-- navbar-collapse -->
                            </div>
                        </div>
                    </div>
                </div><!-- /.container -->
            </nav><!-- navbar -->
        </div> 

    </div><!-- brand-section -->

    <div>
        @RenderBody()
    </div>

    <div class="menuFooter clearfix">
        <div class="container">
            <div class="row clearfix">

                <div class="col-sm-3 col-xs-6">
                    <h5>ABOUT US : </h5>
                    <p style="text-align:justify">
                        In today's economic situation where people have lost faith in stocks and commodities. Everybody looks at real estate sector for a better investment, but have fear in mind about legality and security. Our motto is to give farm house plots LEGALLY CLEAR, SAFE, SECURE ON THE LAP OF MOTHER NATURE.
                    </p>
                </div><!-- col-sm-3 col-xs-6 -->

                <div class="col-sm-3 col-xs-6 borderLeft clearfix">
                    <h5>QUICK LINKS :  </h5>
                    <ul class="menuLink clearfix">

                        @Html.ActionLink("Home", "Home")
                        @Html.ActionLink("About", "Home")
                        @Html.ActionLink("Services", "Home")
                        @Html.ActionLink("Contact", "Home")
                        @Html.ActionLink("Login", "Home")

                        @*<li><a href="index-2.html">Home</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                        <li><a href="contact-us.html">Login</a></li>*@
                    </ul>
                </div><!-- col-sm-3 col-xs-6 -->

                <div class="col-sm-3 col-xs-6 borderLeft clearfix">
                    <div class="footer-address">
                        <h5>Location:</h5>
                        <address>
                            Wakad Road, Opp. Saraswat Bank, Vishal Nagar, Jagtap Dairy, Pune, Maharashtra 411027
                        </address>

                        <div class="contactNo clearfix">
                            <h6><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:geetanjali.agency@gmail.com">&nbsp geetanjali.agency@gmail.com</a></h6>
                            <h5><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp 9823205506 / 9326242771</h5>
                        </div>
                    </div>
                </div><!-- col-sm-3 col-xs-6 -->

                <div class="col-sm-3 col-xs-6 borderLeft clearfix">
                    <div class="socialArea clearfix">
                        <h5>Find us on:</h5>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1559.6759796794508!2d73.78302602852996!3d18.588832826957475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b9236ac43a99%3A0xfa07be25fb22a569!2sGeetanjali+Real+Estate!5e0!3m2!1sen!2sin!4v1532945510139" width="250" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div><!-- social -->
                    <!-- contactNo -->
                </div><!-- col-sm-3 col-xs-6 -->

            </div><!-- row clearfix -->
        </div><!-- container -->
    </div><!-- menuFooter -->

    <div class="footer clearfix">
        <div class="container">
            <div class="row clearfix">
                <div class="col-sm-6 col-xs-12 copyRight">
                    <p>© 2018 Copyright Geetanjali Real Estate Designed by <a href="https://360smesolutions.com/">360 SME SOLUTIONS</a></p>
                </div><!-- col-sm-6 col-xs-12 -->
                <!-- <div class="col-sm-6 col-xs-12 privacy_policy"> -->
                <!-- <a href="contact-us.html">Contact us</a> -->
                <!-- <a href="privacy-policy.html">Privacy Policy</a> -->
                <!-- </div><!-- col-sm-6 col-xs-12 -->
            </div><!-- row clearfix -->
        </div><!-- container -->
    </div><!-- footer -->
    </div>

    <!- - JQUERY SCRIPTS -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/js/plugins/jquery.flexslider.js"></script>
    <script src="~/js/plugins/jquery.selectbox-0.1.3.min.js"></script>
    <script src="~/js/plugins/jquery.magnific-popup.js"></script>
    <script src="~/js/plugins/waypoints.min.js"></script>
    <script src="~/js/plugins/jquery.counterup.js"></script>
    <script src="~/js/plugins/wow.min.js"></script>
    <script src="~/js/plugins/navbar.js"></script>
    <script src="~/js/plugins/moment.min.js"></script>
    <script src="~/js/plugins/fullcalendar.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script type="text/javascript" src="../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b7e4410d2f5708f"></script>
</body>

<!-- Mirrored from geetanjalirealestate.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Oct 2018 14:39:42 GMT -->
</html>