﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="banner carousel slide" id="recommended-item-carousel" data-ride="carousel">
    <div class="slides carousel-inner">
        <div class="item active">
            <img src="~/images/Slide2.png" alt="" />

        </div>
        <div class="item">
            <img src="~/images/Slide7.jpg" alt="" />

        </div>
        <div class="item">
            <img src="~/images/Slide1.jpg" alt="" />

        </div>
        <div class="item">
            <img src="~/images/Slide4.jpg" alt="" />

        </div>

    </div>
    <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
        <img src="~/img/home/slider/prev.png">
    </a>
    <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
        <img src="~/img/home/slider/next.png">
    </a>
</div><!--end banner-->

<div class="aboutArea">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12">
                <div class="aboutTitle">
                    <!-- <h2>Our Popular Courses</h2> -->
                </div><!-- aboutTitle -->
            </div><!-- col-sm-3 col-xs-12 -->
        </div><!-- row clearfix -->

        <div class="about_inner clearfix">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <div class="aboutImage">
                        <!-- <a href="single-course-right-sidebar.html">  -->
                        <img src="~/images/1.jpg" alt="" class="img-responsive" />
                        <!-- <div class="overlay"> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p> -->
                        <!-- </div> -->
                        <span class="captionLink">Flats On Rent<span></span></span>
                        <!-- </a> -->
                    </div><!-- aboutImage -->
                </div>

                <div class="col-xs-6 col-sm-3">
                    <div class="aboutImage">
                        <!-- <a href="single-course-right-sidebar.html">  -->
                        <img src="~/images/2.jpg" alt="" class="img-responsive" />
                        <!-- <div class="overlay"> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p> -->
                        <!-- </div> -->
                        <span class="captionLink">Flats On Sale<span></span></span>
                        <!-- </a> -->
                    </div><!-- aboutImage -->
                </div>

                <div class="col-xs-6 col-sm-3">
                    <div class="aboutImage">
                        <!-- <a href="single-course-right-sidebar.html">  -->
                        <img src="~/images/3.jpg" alt="" class="img-responsive" />
                        <!-- <div class="overlay"> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p> -->
                        <!-- </div> -->
                        <span class="captionLink">Shops On Sale<span></span></span>
                        <!-- </a> -->
                    </div><!-- aboutImage -->
                </div>

                <div class="col-xs-6 col-sm-3">
                    <div class="aboutImage">
                        <!-- <a href="single-course-right-sidebar.html">  -->
                        <img src="~/images/4.jpg" alt="" class="img-responsive" />
                        <!-- <div class="overlay"> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p> -->
                        <!-- </div> -->
                        <span class="captionLink">Plots On Sale<span></span></span>
                        <!-- </a> -->
                    </div><!-- aboutImage -->
                </div>
            </div><!-- row -->
        </div><!-- about_inner -->

    </div><!-- container -->
</div><!-- aboutArea -->

<div class="mainContent clearfix">
    <div class="container">
        <div class="row clearfix">

            <div class="col-sm-12 col-xs-12">
                <div class="videoNine clearfix">
                    <div class="videoArea clearfix">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12 videoLeft">
                                <img src="~/images/5.jpg">
                            </div><!-- videoLeft -->
                            <div class="col-lg-6 col-md-6 col-xs-12 videoRight">
                                <h3>Welcome To Geetanjali Real Estate</h3><br><br>
                                <p style="font-size:16px;line-height:1.6em">
                                    Inventing path of better living and best returns on Investment.proclaiming every individuals personality and making a style statement keeping a keen eye on their profits as well.
                                </p>
                                <br><a href="about-us.html" class="btn btn-block learnBtn">Learn More</a>
                                <br><br>We at Geetanjali Real Estate will be heralded classism in the art of giving the best to our client. We will rewrite rules of graceful and peaceful living. Every project we create will be a land mark and will not need any address proof.
                                <br><br>Geetanjali Real Estate is just not a company selling farm house plot rather we believe in
                            </div><!-- videoRight -->
                        </div><!-- row -->
                    </div><!-- videoArea -->

                    <div class="related_post_sec single_post">
                        <h3>Read More</h3>
                        <ul>
                            <li>
                                <span class="rel_thumb">
                                    <a href="single-post-right-sidebar.html"><img src="~/images/6.png" alt=""></a>
                                </span><!--end rel_thumb-->
                                <div class="rel_right">
                                    <p style="font-size:16px;line-height:1.6em">In today's economic situation where people have lost faith in stocks and commodities. Everybody looks at real estate sector for a better investment, but have fear in mind about legality and security. Our motto is to give farm house plots LEGALLY CLEAR, SAFE, SECURE ON THE LAP OF MOTHER NATURE. This will enable each and every of our client to enjoy their investment hassle free. </p>
                                </div><!--end rel right-->
                            </li>
                            <li>
                                <span class="rel_thumb">
                                    <a href="single-post-right-sidebar.html"><img src="~/images/7.png" alt=""></a>
                                </span><!--end rel_thumb-->
                                <div class="rel_right">
                                    <p style="font-size:16px;line-height:1.6em">We have understood the dynamics of real estate and keep on identifying such properties which offers of a perfect pleasure of staying and experiencing the best nature, also gives opportunities for the best returns on investment. Our main AIM is to create in eco-friendly commodity. We know that no success can be achieved without a team, at Geetanjali Real Estate. We have built a strong team of professionals who are best in the industry, to enable us to provide the best projects and for important best service to our clients. </p>
                                </div><!--end rel right-->
                            </li>
                        </ul>
                    </div><!--related_post_sec-->

                </div><!--videoNine-->
            </div><!-- col-sm-8 col-xs-12 -->


        </div><!-- end list_block -->
    </div><!-- col-sm-4 col-xs-12 -->

</div><!-- row clearfix -->
@*</div><!-- container -->
    </div><!-- mainContent -->*@

<div class="brand-section clearfix">
    <div class="container">
        <div class="brand-slider flexslider">
            <ul class="slides">
                <li>
                    <a href="#"><img src="~/images/s/1.jpg" /></a>
                </li>
                <li>
                    <a href="#"><img src="~/images/s/2.jpg" /></a>
                </li>
                <li>
                    <a href="#"><img src="~/images/s/3.jpg" /></a>
                </li>
                <li>
                    <a href="#"><img src="~/images/s/4.jpg" /></a>
                </li>
                <li>
                    <a href="#"><img src="~/images/s/5.jpg" /></a>
                </li>
                <li>
                    <a href="#"><img src="~/images/s/6.jpg" /></a>
                </li>
                <li>
                    <a href="#"><img src="~/images/s/7.jpg" /></a>
                </li>
                <li>
                    <a href="#"><img src="~/images/s/8.jpg" /></a>
                </li>
                <li>
                    <a href="#"><img src="~/images/s/9.jpg" /></a>
                </li>
                <li>
                    <a href="#"><img src="~/images/s/10.jpg" /></a>
                </li>
                <li>
                    <a href="#"><img src="~/images/s/11.jpg" /></a>
                </li>
                <li>
                    <a href="#"><img src="~/images/s/12.jpg" /></a>
                </li>
            </ul>
        </div>
    </div>
</div><!-- brand-section -->
<!-- JQUERY SCRIPTS -->
<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap/bootstrap.min.js"></script>
<script src="~/js/plugins/jquery.flexslider.js"></script>
<script src="~/js/plugins/jquery.selectbox-0.1.3.min.js"></script>
<script src="~/js/plugins/jquery.magnific-popup.js"></script>
<script src="~/js/plugins/waypoints.min.js"></script>
<script src="~/js/plugins/jquery.counterup.js"></script>
<script src="~/js/plugins/wow.min.js"></script>
<script src="~/js/plugins/navbar.js"></script>
<script src="~/js/plugins/moment.min.js"></script>
<script src="~/js/plugins/fullcalendar.min.js"></script>
<script src="~/js/custom.js"></script>
<script type="text/javascript" src="../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b7e4410d2f5708f"></script>